In [1]:
import numpy as np
import pandas as pd

In [2]:
n = int(input("input your number of trials here:"))

input your number of trials here:100000

In [3]:
#Because we are only allowed to use numpy and pandas,
#we estimate the CDF function of a standard normal by using P(Z<=z) = np.sum(samples<=z)/len(samples)
#the size should be as large as possible to get accurate answers, but it still need to be feasible for the given RAM.
samples = np.random.normal(loc=0.0, scale=1.0, size=(1000000))

In [4]:
def BSM_pricing(S, K, q, r, v, t):
    #implementation of the BSM formula (for call option)
    global samples
    z1 = (np.log(S/K) + (r - q + (v**2)/2) * t) / (v * np.sqrt(t))
    z2 = z1 - v * np.sqrt(t)
    N1 = np.sum(samples<=z1)/len(samples)
    N2 = np.sum(samples<=z2)/len(samples)
    return S * np.exp(-q*t) * N1 - K * np.exp(- r * t) * N2

In [5]:
%%time
#Generate random inputs to the BSM model
df  = pd.DataFrame({'S': 100 * np.ones(n), 
                    'K': np.random.uniform(low=90,high=110, size=n), 
                    'q': np.random.uniform(low=0.01,high=0.03, size=n), 
                    'r': np.random.uniform(low=0.01,high=0.06, size=n), 
                    'v': np.random.uniform(low=0.2,high=0.5, size=n), 
                    't': np.random.uniform(low=0.1,high=1.0, size=n)})

CPU times: total: 0 ns
Wall time: 11.5 ms

In [6]:
%%time
df['Estimated call price'] = df.apply(lambda x: (BSM_pricing(x['S'],
                                                             x['K'],
                                                             x['q'],
                                                             x['r'],
                                                             x['v'],
                                                             x['t'])), axis=1)
df

CPU times: total: 1min 10s
Wall time: 4min 13s

,S,K,q,r,v,t,Estimated call price
0,100.0,98.774038,0.026926,0.052114,0.312914,0.553683,10.292525
1,100.0,99.414950,0.023359,0.050734,0.377649,0.779536,14.161685
2,100.0,105.629611,0.024777,0.011082,0.313756,0.979930,9.312665
3,100.0,100.699598,0.028286,0.029438,0.207898,0.111267,2.440748
4,100.0,109.918510,0.024435,0.058276,0.211372,0.279025,1.467883
...,...,...,...,...,...,...,...
99995,100.0,105.521484,0.017302,0.030573,0.479466,0.807628,15.057305
99996,100.0,93.644368,0.024814,0.026355,0.229230,0.304658,8.667937
99997,100.0,95.296676,0.018287,0.039973,0.375766,0.451599,12.747852
99998,100.0,93.853636,0.015584,0.054012,0.281410,0.609959,13.092137
99999,100.0,98.132736,0.024231,0.014641,0.218825,0.272841,5.304948

In [7]:
df.to_csv('BSM_call_sample.csv', index=False)